* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.listItem:hover .subContent {
    animation: animateSubContent .1s ease-in-out;
}

@keyframes animateSubContent {
    from{
        bottom: 40rem
    }
    to{
        bottom: 42rem;
    }
}
